<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Takeshi Koey">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Takeshi Koey professional website">
    <title>For Fun</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/script.js" ></script>
</head>
<body>
    <header style="color: blue; background: lightblue">
        <h1 id="webname">Takeshi Koey</h1>
        <nav>
            <a href="../index.html" class="nav-link">Home</a> |
            <a href="cv.html" class="nav-link">CV</a> |
            <a href="contact.html" class="nav-link">Contact Me</a> |
            <a href="fun.html" class="nav-link">For Fun</a> |
        </nav>
    </header>

    <h2>Things I love to do for fun</h2>

    <ul>
        <li>Cooking with friends</li>
        <li>Ball sports like tennis, volleyball, and basketball</li>
        <li>Traveling</li>
        <li>Trying new things!</li>
    </ul>


    <footer>
        <p>&copy; 2025 designed &#129504; and coded &#128640; by Takeshi Koey</p>
    </footer>
</body>
</html>