<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Takeshi Koey">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Takeshi Koey professional website">
    <title>For Fun</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/script.js" ></script>
</head>
<body onload="initPage()">
    <header style="color: blue; background: lightblue">
        <h1 id="webname">Takeshi Koey</h1>
        <nav>
            <a href="../index.html" class="nav-link">Home</a> |
            <a href="cv.html" class="nav-link">CV</a> |
            <a href="contact.html" class="nav-link">Contact Me</a> |
            <a href="fun.html" class="nav-link">For Fun</a> |
        </nav>
    </header>

    <div class="mainLayout">
        <div class="item1">
            <h2>Things I love to do for fun</h2>
            <!-- <button id="showButton" onclick="showList()">Click to See...</button> -->
            <ul id="FavList" style="display: none;">
                <li>Cooking with friends</li>
                <li>Ball sports like tennis, volleyball, and basketball</li>
                <li>Traveling</li>
                <li>Trying new things!</li>
            </ul>
        </div>
        <div class="item2">
            <img src="../static/fun-image.jpg" class="funIMG">
        </div>
        <div class="item3">
            <iframe width="560" height="315" 
                src="https://www.youtube.com/embed/9egr-dLvnJQ?si=bBr1Z1GzZ8VGZCmG" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" 
                allowfullscreen>
            </iframe>
        </div>
        <div class="item4">
            <div class="container">
                <h2>Need Some Advice?</h2>
                <p id="adviceText">Click the button to get a random piece of advice!</p>
                <button onclick="getAdvice()">Get Advice</button>
            </div>
        </div>
    </div>

    

    <footer>
        <!-- <p>&copy; 2025 designed &#129504; and coded &#128640; by Takeshi Koey</p> -->
        <p id="copyYear"></p>
    </footer>
</body>
</html>