<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Takeshi Koey">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Takeshi Koey professional website">
    <title>Contact Me</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="font-family: Arial;">
    <header style="color: blue; background: lightblue">
        <h1>Takeshi Koey</h1>
        <nav>
            <a href="../index.html">Home</a> |
            <a href="cv.html">CV</a> |
            <a href="contact.html">Contact Me</a> |
            <a href="fun.html">For Fun</a> |
        </nav>
    </header>

    <h2>Contact Me</h2>

    <form>
        Your name (required): <input type="text" name="name" required> <br><br>
        Your email: <input type="email" name="email" required> <br><br>
        Your comment: <br>
        <textarea name="comment" rows="20" cols="60" required></textarea>
        <button type="submit">SEND</button>
    </form>

    <h3>Contact Method Description</h3>
    <table border="1">
        <tr>
            <th>Method</th>
            <th>Details</th>
        </tr>
        <tr>
            <td>Email</td>
            <td align="center">jktakeshi@gmail.com</td>
        </tr>
        <tr>
            <td>Phone</td>
            <td align="center">+4126085677</td>
        </tr>
        <tr>
            <td>LinkedIn</td>
            <td align="center"><a href="https://www.linkedin.com/in/takeshi-koey/">My LinkedIn</a></td>
        </tr>
    </table>
    

    <footer>
        <p>&copy; 2025 designed &#129504; and coded &#128640; by Takeshi Koey</p>
    </footer>
</body>
</html>